@font-face {
    font-family: 'Rubik';
    src: url("/fonts/Rubik-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url(/fonts/Merriweather-Regular.ttf);
    font-style: normal;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #e7e7e7;
        --text-color: #251531;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #180d20;
        --text-color: #f2f2f2;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes downloadBounce {

    0%, 100% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-5px);
    }

    66% {
        transform: translateY(5px);
    }
}

#download-arrow {
    display: inline-block;
    transition: transform 0.3s;
}

.project-download:hover #download-arrow {
    animation: downloadBounce 0.6s ease;
}

details .fade-in {
    animation: fadeIn 750ms ease-out;
}

embed {
    margin: 0 auto;
}

.loaded {
    opacity: 1;
}

.portrait {
    border-radius: 80px;
    max-width: 190px;
    margin-top: 1.25rem;
}

.projects-list {
    list-style: none;
    padding-left: 20px;
    margin-top: 0px;
}

.project-desc {
    font-size: 1.05rem;
    text-align: left;
    line-height: 1.5;
}

.project-download {
    cursor: pointer;
    padding: 5px;
    text-decoration: transparent;
}

.project-download:hover {
    font-size: 1.75rem;
    font-weight: bold;
}

.gallery-button {
    cursor: pointer;
}

li.project-element {
    padding: 8px 0;
}

details summary {
    list-style: none;
    cursor: pointer;
}

details summary::before {
    content: '➡️';
    display: inline-block;
    margin-right: .5rem;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

footer {
    font-size: 0.75rem;
}

section > * {
    width: 100%;
    max-width: calc(500px + .5rem);
}

body {
    opacity: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1.35rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.4;

    transition: opacity ease 800ms;
}

p {
    margin: 0.5rem 0;
}

a {
    color: var(--text-color);
    background-color: rgba(180, 180, 180, 0.45);
    border-radius: 8px;
    padding: 2px;
    text-decoration-color: transparent;
    color: var(--text-color);
    transition: all ease 100ms;
}

a:hover {
    background-color: rgba(143, 143, 143, 0.65);
    text-decoration-color: var(--text-color);
    border-radius: 2.5px;
}

summary {
    padding-bottom: 15px;
}