#boids-canvas {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}

.flex {
    display: flex;
}

.main-container {
    max-width: 75rem;
    margin: 0 auto;
}

.portfolio-menu {
    flex-basis: 25rem;
}

.portfolio-filler {
    flex-basis: 25rem;
}

.page-content {
    text-align: justify;
    min-width: 20rem;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.35;
}

nav > ul {
    line-height: 2;
}

a {
    color: inherit;
    text-decoration: none;
}